<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" class="navbar-brand" >SPSS-LUPA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/configuration">Step 1: Configuration <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/run-model">Step 2: Run Model</a></li>
        <li><a routerLink="/show-result">Step 3: Show Result</a></li>
        <li><a routerLink="/download-result">Step 4: Download Result</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilities <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Layer</a></li>
            <li><a href="#">Measure Distance</a></li>
            <li><a href="#">Measure Area</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
