<form [formGroup]="form" (submit)="onSubmit()">
<br>
<div class="container">
  <div class="div1">
    <div class="input-group">
      <span class="input-group-btn">
        <button (click)= "onConfig()" type="button" class="btn btn-primary">Config</button>
      </span>
      <input formControlName="text_config" name="text_config" type="text" class="form-control" placeholder="Please input the number of factors">
    </div>
  </div>
  <div class="div2">
    <div class="input-group">
      <input formControlName="text_submit" name="text_submit" type="text" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
      </span>
    </div>
  </div>
</div>
<br>
<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <th>Factor</th>
      <th>Data</th>
      <th>Weight</th>
      <th>F_Type</th>
      <th>F_a</th>
      <th>F_b</th>
      <th>F_c</th>
      <th>F_d</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of arr_size">
      <td><input type="text" class="resizedTextbox1" placeholder="Input the name of factor"/></td>
      <td><input type="file" class="resizedTextbox2" ></td>
      <td><input type="text" class="resizedTextbox3"/></td>
      <td><input type="text" class="resizedTextbox3"/></td>
      <td><input type="text" class="resizedTextbox3"/></td>
      <td><input type="text" class="resizedTextbox3"/></td>
      <td><input type="text" class="resizedTextbox3"/></td>
      <td><input type="text" class="resizedTextbox3"/></td>
    </tr>
  </tbody>
</table>
</form>